@inject NavigationManager NavigationManager
@inject AppDataManager AppDataManager

<HxCard>
    <BodyTemplate>
        <footer>
            <div class="container text-center">

                <div>
                    <small class="text-muted">©2025 Code Magic. All rights reserved.</small>
                </div>


            </div>
        </footer>
    </BodyTemplate>
</HxCard>
