@inject IJSRuntime JSRuntime

<div class="my-4">
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-XXXX"
         data-ad-slot="1234567890"
         data-ad-format="auto"
         data-full-width-responsive="true"></ins>
</div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("eval", "(adsbygoogle = window.adsbygoogle || []).push({});");
        }
    }
}
