@using Microsoft.Extensions.Options
@inject IOptions<AdSenseSettings> AdSenseOptions
@inject IJSRuntime JSRuntime

<div @ref="@_adContainer">
</div>

@code {
    private ElementReference _adContainer;
    private IJSObjectReference? _module;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _module = await JSRuntime.InvokeAsync<IJSObjectReference>("import", "./Components/AdsComponent.razor.js");
            await _module.InvokeVoidAsync("renderAd",
                _adContainer,
                AdSenseOptions.Value.ClientId,
                AdSenseOptions.Value.SlotId);
        }
    }
}
