

.settings-btn {
    position: fixed;
    bottom: 40px;
    left: 40px;
    z-index: 1000;
}

    .settings-btn ::deep .btn {
        width: 48px;
        height: 48px;
        font-size: 20px;
        border-radius: 50%;
    }


.dropdown-menu.show {
    width: max-content;
    min-width: 240px;
}

.menu-settings-item {
    max-height: 300px;
    overflow-y: auto;
    white-space: nowrap;
}
