
<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />

    <link rel="stylesheet" href="css/app.css" crossorigin>
    <link rel="stylesheet" href="Blogtify.styles.css" crossorigin>
    <link rel="stylesheet" href="_content/Havit.Blazor.Components.Web.Bootstrap/bootstrap.min.css" crossorigin>

    <link rel="stylesheet" href="css/theme-yeti.css" media="print" onload="this.media='all'" id="theme-stylesheet" crossorigin>
    <link rel="stylesheet" href="css/prism.min.css" media="print" onload="this.media='all'" crossorigin>
    <link rel="stylesheet" href="css/prism-coy-without-shadows.min.css" media="print" onload="this.media='all'" id="code-block-stylesheet" crossorigin>
    <link rel="stylesheet" href="css/prism-line-numbers.min.css" media="print" onload="this.media='all'" crossorigin>
    <link rel="stylesheet" href="css/prism-show-language.min.css" media="print" onload="this.media='all'" crossorigin>
    <link rel="stylesheet" href="css/code-block.css" media="print" onload="this.media='all'" crossorigin>

    <script src="js/theme.js" defer></script>
    <script src="js/app.js" defer></script>

    <!-- Adsense: Lazy load after onload to reduce third-party block -->
    <script>
        window.addEventListener('load', () => {
            const script = document.createElement('script');
            script.async = true;
            script.src = 'https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6107540643501285';
            script.crossOrigin = 'anonymous';
            document.head.appendChild(script);
        });
    </script>

    <HeadOutlet @rendermode="InteractiveAuto" />
</head>

<body class="line-numbers">
    <Routes @rendermode="InteractiveAuto" />
    <script src="_framework/blazor.web.js" autostart="false"></script>
    <script>
        async function hasSimdSupport() {
          if (!WebAssembly.instantiateStreaming) return false;
          try {
            const simdModule = new WebAssembly.Module(
              new Uint8Array([
                0,97,115,109,1,0,0,0,1,7,1,96,0,0,3,2,1,0,10,11,1,9,0,65,0,253,15,0,11
              ])
            );
            return WebAssembly.validate(simdModule);
          } catch {
            return false;
          }
        }

        (async () => {
          const simd = await hasSimdSupport();

          const compatPath = simd ? null : "_frameworkCompat/";

          Blazor.start({
            environment: "Auto",
            configureRuntime: (builder) => {
              builder.loadBootResource = (type, name, defaultUri, integrity) => {
                if (compatPath && (type === "dotnetjs" || type === "assembly" || type === "pdb" || type === "wasm")) {
                  return compatPath + name;
                }
                return defaultUri;
              };
            }
          });
        })();
    </script>


    @((MarkupString)@HxSetup.RenderBootstrapJavaScriptReference())

    <script src="js/code-block.js" defer></script>
    <script src="js/prism-core.min.js" defer></script>
    <script src="js/prism-autoloader.min.js" defer></script>
    <script src="js/prism-clike.min.js" defer></script>
    <script src="js/prism-markup.min.js" defer></script>
    <script src="js/prism-csharp.min.js" defer></script>
    <script src="js/prism-yaml.min.js" defer></script>
    <script src="js/prism-javascript.min.js" defer></script>
    <script src="js/prism-typescript.min.js" defer></script>
    <script src="js/prism-css.min.js" defer></script>
    <script src="js/prism-bash.min.js" defer></script>
    <script src="js/prism-python.min.js" defer></script>
    <script src="js/prism-sql.min.js" defer></script>
    <script src="js/prism-line-numbers.min.js" defer></script>
    <script src="js/prism-show-language.min.js" defer></script>

    <script async defer src="js/tex-chtml.js"></script>

</body>

</html>
