
<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="Blogtify.styles.css" />
    <link rel="stylesheet" href="css/prism.min.css" />
    <link id="code-block-stylesheet" rel="stylesheet" href="css/prism-coy-without-shadows.min.css" />
    <link rel="stylesheet" href="css/prism-line-numbers.min.css" />
    <link rel="stylesheet" href="css/prism-show-language.min.css" />
    <link rel="stylesheet" href="css/code-block.css" />
    <link href="_content/Havit.Blazor.Components.Web.Bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link id="theme-stylesheet" rel="stylesheet" href="css/theme-yeti.css" />
    <link rel="stylesheet" href="css/app.css" />
    <HeadOutlet @rendermode="InteractiveAuto" />
    <script src="js/theme.js"></script>
    <script src="js/app.js"></script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6107540643501285"
            crossorigin="anonymous"></script>
</head>

<body class="line-numbers">
    <Routes @rendermode="InteractiveAuto" />
    <script src="_framework/blazor.web.js" autostart="false"></script>
    <script>
        async function hasSimdSupport() {
          if (!WebAssembly.instantiateStreaming) return false;
          try {
            const simdModule = new WebAssembly.Module(
              new Uint8Array([
                0,97,115,109,1,0,0,0,1,7,1,96,0,0,3,2,1,0,10,11,1,9,0,65,0,253,15,0,11
              ])
            );
            return WebAssembly.validate(simdModule);
          } catch {
            return false;
          }
        }

        window.__wasmCompatPath = null;

        hasSimdSupport().then(supported => {
          if (!supported) {
            window.__wasmCompatPath = "_frameworkCompat/";
          }

          Blazor.start({
            configureRuntime: (builder) => {
              builder.loadBootResource = (type, name, defaultUri, integrity) => {
                if (window.__wasmCompatPath) {
                  if (type === "dotnetjs" || type === "assembly" || type === "pdb" || type === "wasm") {
                    return window.__wasmCompatPath + name;
                  }
                }
                return defaultUri;
              };
            }
          });
        });
    </script>

    @((MarkupString)@HxSetup.RenderBootstrapJavaScriptReference())

    <script src="js/code-block.js"></script>

    <script src="js/prism-core.min.js"></script>
    <script src="js/prism-autoloader.min.js"></script>
    <script src="js/prism-clike.min.js"></script>
    <script src="js/prism-markup.min.js"></script>
    <script src="js/prism-csharp.min.js"></script>
    <script src="js/prism-yaml.min.js"></script>
    <script src="js/prism-javascript.min.js"></script>
    <script src="js/prism-typescript.min.js"></script>
    <script src="js/prism-css.min.js"></script>
    <script src="js/prism-bash.min.js"></script>
    <script src="js/prism-python.min.js"></script>
    <script src="js/prism-sql.min.js"></script>
    <script src="js/prism-line-numbers.min.js"></script>
    <script src="js/prism-show-language.min.js"></script>

    <script src="js/tex-chtml.js"></script>

</body>

</html>
